#create_display {
    min-width: 200px;
    max-width: 800px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 30px auto 0;
    padding: 20px;
    background-color: #FFF;
    border: 5px solid #487092;
}
input { 
    width: 99%;
    height: 24px;
    padding: 5px;
    font-size: 25px;
}
textarea {
    min-width: 100%;
    min-height: 200px;
}
label {
    font-size: 28px;
}
.action_container {
    display: flex;
}
.add_text, .add_image {
    white-space: nowrap;
    display: inline-block;
    border-radius: 5px;
    padding: 5px 5px;
    font-size: 20px;
    color: white;
    background-image: linear-gradient(#4f93ce, #285f8f);
    border: 1px solid #285f8f;
    flex: 1;
    margin: 25px 5px;
    cursor: pointer;
}
.add_text:hover, .add_image:hover {
    background-image: linear-gradient(#63a0d4, #337ab7);
}
.exit {
    background-image: linear-gradient(#d52626, #631414);
    color: #FFF;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    float: right;
    border: none;
    cursor: pointer;
}
.exit:hover {
    background-image: linear-gradient(rgb(234, 71, 71), #8F2727);
}
.info_container {
    display: flex;;
}
.word_count, .character_count { 
    color: #0000c5;
    flex: 1;
}
.word_count_span, .character_count_span { 
    color: #000;
}
.default_shading {
    background-color: #e4e4e4;
    border-radius: 15px;
    padding: 10px 17px 17px 10px;
    margin: 10px 0;
    box-shadow: 0px 0px 5px rgba(7, 6, 11, 0.50);
}
.error {
    color: red;
}
.display_image {
    background-position: center center;
    background-size: contain;
    width: 100%;
    background-repeat: no-repeat;
    height: 400px;
}
.box {
    display: flex;
}
.upload_btn {
    background-image: linear-gradient(#4f93ce, #285f8f);
    padding: 7px 5px 10px;
    color: #FFF;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
}
.upload_btn:hover {
    background-image: linear-gradient(#63a0d4, #337ab7);
}
.image_box {
    display: flex;
    flex-direction: column;
}
.image_size {
    font-weight: bold;
    font-size: 18px;
    margin: 10px auto;
}