#article_display {
    min-width: 200px;
    min-height: 1000px;
    max-width: 800px;
    border: 1px solid #000;
    margin: 30px auto;
    padding: 20px;
    background-color: #FFF;
}
.main_image {
    float: left;
    width: 100%;
    min-height: 400px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.article_title {
    float: left;
}
.article_body {
    float: left;
}